node_modules
/config.json
resources/sl-parser.js

*.log
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# STT Test logs
resources/stt/wav/*.json
