node_modules
/resources/shoppinglist.js
/resources/shoppinglist.jison
/config.json
/resources/*.pem

*.log
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# STT Test logs
resources/stt/wav/*.json
