option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 6.2.2
    ProxyServer: none
  aws:elb:listener:443:
    ListenerProtocol: TCP
    InstancePort: 8080
    InstanceProtocol: TCP
Resources:
  443inboundfromloadbalancer:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { "Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"] }
      IpProtocol: tcp
      ToPort: 8080
      FromPort: 443
      SourceSecurityGroupName: { "Fn::GetAtt": ["AWSEBLoadBalancer", "SourceSecurityGroup.GroupName"] }
