option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 6.2.2
    ProxyServer: none
  aws:elb:listener:443:
    ListenerProtocol: TCP
    InstancePort: 8080
    InstanceProtocol: TCP

Resources:
  443inboundfromloadbalancer:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { "Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"] }
      IpProtocol: tcp
      ToPort: 8080
      FromPort: 443
      SourceSecurityGroupName: { "Fn::GetAtt": ["AWSEBLoadBalancer", "SourceSecurityGroup.GroupName"] }

files:
  "/tmp/cronjob" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      0 0 * * * /var/app/current/prunelog /var/app/current/log 182 5000
    encoding: plain
container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
commands:
  01_install_crontab:
    command: crontab /tmp/cronjob && rm /tmp/cronjob
